/*.navbar_content, #leftside, #rightside, span {
    border: 1px solid black;
}*/

html {
    padding: 0;
    margin: 0;
    /*background-color: #f2f8ff;*/
    background-color: #fff;
}

body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

/*стили для панели навигации*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
}

.navbar_content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#leftside, #rightside {
    width: 594px;/*исправить на 600*/
}

#leftside, #leftside span {
    float: left;
}

#rightside, #rightside span {
    float: right;
}

#rightside {
    overflow: auto;
    margin-top: 9px;
}

#leftside span, #rightside span {
    display: block;
    font-size: 1.1em;
    padding: 15px 10px 15px 0;
    cursor: pointer;
}

#rightside span {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#leftside span:hover {
    /*color: rgb(29, 202, 34);*/
    color: rgb(58, 145, 232);
}

#rightside #create_post span {
    display: block;
    padding: 0;
    margin: 0;
    float: left;
}

#rightside #location, #rightside #create_post{
    /*color: rgb(29, 202, 34);*/
    color: rgb(58, 145, 232);
    border-right: 1px solid black; 
}

#rightside #location:hover, #rightside #create_post:hover {
    /*color: rgb(65, 226, 70);*/
    color: rgb(94, 175, 255);
}

#rightside #auth {
    padding-right: 0;
}

#rightside #auth:hover {
    color: rgb(58, 145, 232);
}

/*стили для контента*/

.content span, .content .selector, .content .selector .selector_item {
    /*border: 1px solid black;*/
}

.content {
    width: 1200px;
    height: 1000px;
    margin: 81px auto 0 auto;
    font-family: Helvetica;
}

.content .section_header {
    line-height: 0.8em;
    display: block;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
    font-size: 1.7em;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid black;
}

.content .selector {
    margin-top: 30px;
    width: 100%;
}

.selector .selector_item {  
    border: 1px solid rgb(58, 145, 232);
    font-family: Helvetica;
    font-size: 1.1em;
    display: inline-block;
    width: 362px;
    margin: 0;
    padding: 8px 18px 8px 18px;
    color: rgb(58, 145, 232);
    text-align: center;
}

.content .selector #selector_item_1{
    background-color: rgb(58, 145, 232);
    color: #fff;
    border-radius: 6px 0 0 6px;
}
.content .selector #selector_item_2 {
    border-left: 0;
    border-right: 0;
    width: 364px;/*для баланса в ширине*/
}

.content .selector #selector_item_3{
    border-radius: 0 6px 6px 0;
}

.selector .selector_item:hover {
    background-color: rgb(58, 145, 232, 0.07);
    cursor: pointer;
}

.brandsection, .brandsection * {
    /*border: 1px solid black;*/
}

.brandsection {
    width: 100%;
    margin-top: 30px;
    overflow: auto;
}

.brandsection .brand_name {
    display: block;
    font-size: 1.1em;
    margin-bottom: 15px;
    width: 238px;
    float: left;
}

.brandsection .brand_name .brand_number {
    margin-left: 8px;
    color: rgb(169, 169, 169);
}

.brandsection .brand_name .name:hover {
    color: rgb(58, 145, 232);
    cursor: pointer;
}

.show_posts_filter, .show_posts_filter * {
    /*border: 1px solid black;*/
}

.show_posts_filter {
    margin-top: 15px;
    overflow: auto;
}

.show_posts_filter span {
    border: 1px solid rgb(169, 169, 169);
    color: rgb(169, 169, 169);
    display: block;
    width: 206px;
    font-size: 1.1em;
    float: left;
    padding: 9px 0px 9px 0px;
    padding-left: 15px;
}

.show_posts_filter span:hover {
    cursor: pointer;
    border-color: rgb(58, 145, 232);
}

#year_from:hover+#year_to {
    border-left-color: rgb(58, 145, 232);
}

#cost_from:hover+#cost_to {
    border-left-color: rgb(58, 145, 232);
}

.show_posts_filter .interval_filter {
    width: 95px;
}

.show_posts_filter #show_posts {
    background-color: rgb(58, 145, 232);
    border: 1px solid rgb(58, 145, 232);
    color: #fff;
    font-family: Helvetica;
    font-size: 1.1em;
    width: 246px;
    margin: 0;
    padding: 9px 0px 9px 0px;
    text-align: center;
    border-radius: 5px;
    margin-left: 15px;
}

.show_posts_filter #show_posts:hover {
    background-color: rgb(94, 175, 255);
    border-color: rgb(94, 175, 255);
    cursor: pointer;
}

.show_posts_filter #year_from, .show_posts_filter #cost_from {
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.show_posts_filter #year_to, .show_posts_filter #cost_to {
    border-radius: 0 5px 5px 0;
}

.show_posts_filter .car_filter {
    margin-right: 15px;
    border-radius: 5px;
}

.show_posts_filter #year_to {
    margin-right: 15px;
}