html {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-size: 16px;
}

/*стили для панели навигации*/

.navbar * {
    /* border: 1px solid black; */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
}

.navbar_content #leftside, .navbar_content #rightside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar_content #leftside {
    width: 45%;
}

.navbar_content #rightside {
    width: 459px;
}

.navbar_content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.navbar_content a {
    cursor: pointer;
}

.navbar_content #leftside a {
    margin-right: 10%;
    color: rgb(17, 136, 255);
}

.navbar_content #rightside {
    color: rgb(17, 136, 255);
}

.navbar_content #rightside #location:hover, .navbar_content #rightside #auth:hover {
    color: rgba(17, 136, 255, 0.7);
}

.navbar_content #rightside #create_post {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    text-align: center;
    background-color: rgba(0, 128, 255, 0.07);
    color: rgb(17, 136, 255);
    border-radius: 8px;
}

.navbar_content #rightside #create_post:hover {
    background-color: rgba(0, 128, 255, 0.15);
}

/*стили для контента*/

.content span, .content .selector, .content .selector .selector_item {
    /*border: 1px solid black;*/
}

.content {
    width: 1200px;
    height: 1000px;
    margin: 91px auto 0 auto;
    font-family: Helvetica;
}

.content .section_header {
    line-height: 0.8em;
    display: block;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
    font-size: 1.7em;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid rgb(169, 169, 169);
}

.content .selector {
    margin-top: 30px;
    width: 100%;
}

.selector .selector_item {  
    border: 1px solid rgb(58, 145, 232);
    font-family: Helvetica;
    font-size: 1.1em;
    display: inline-block;
    width: 362px;
    margin: 0;
    padding: 8px 18px 8px 18px;
    color: rgb(58, 145, 232);
    text-align: center;
}

.content .selector #selector_item_1{
    background-color: rgb(58, 145, 232);
    color: #fff;
    border-radius: 6px 0 0 6px;
}
.content .selector #selector_item_2 {
    border-left: 0;
    border-right: 0;
    width: 364px;/*для баланса в ширине*/
}

.content .selector #selector_item_3{
    border-radius: 0 6px 6px 0;
}

.selector #selector_item_2:hover, .selector #selector_item_3:hover {
    background-color: rgba(58, 145, 232, 0.07);
    cursor: pointer;
}

.brandsection, .brandsection * {
    /*border: 1px solid black;*/
}

.brandsection {
    width: 100%;
    margin-top: 30px;
    overflow: auto;
}

.brandsection .brand_name {
    display: block;
    font-size: 1.1em;
    margin-bottom: 15px;
    width: 238px;
    float: left;
}

.brandsection .brand_name .brand_number {
    margin-left: 8px;
    color: rgb(169, 169, 169);
}

.brandsection .brand_name .name:hover {
    color: rgb(58, 145, 232);
    cursor: pointer;
}

.show_posts_filter, .show_posts_filter * {
    /*border: 1px solid black;*/
}

.show_posts_filter {
    margin-top: 15px;
    overflow: auto;
}

.show_posts_filter span {
    border: 1px solid rgb(169, 169, 169);
    color: rgb(169, 169, 169);
    display: block;
    width: 206px;
    font-size: 1.1em;
    float: left;
    padding: 9px 0px 9px 0px;
    padding-left: 15px;
}

.show_posts_filter span:hover {
    cursor: pointer;
    border-color: rgb(58, 145, 232);
}

#year_from:hover+#year_to {
    border-left-color: rgb(58, 145, 232);
}

#cost_from:hover+#cost_to {
    border-left-color: rgb(58, 145, 232);
}

.show_posts_filter .interval_filter {
    width: 95px;
}

.show_posts_filter #show_posts {
    background-color: rgb(58, 145, 232);
    border: 1px solid rgb(58, 145, 232);
    color: #fff;
    font-family: Helvetica;
    font-size: 1.1em;
    width: 246px;
    margin: 0;
    padding: 9px 0px 9px 0px;
    text-align: center;
    border-radius: 5px;
    margin-left: 15px;
}

.show_posts_filter #show_posts:hover {
    background-color: rgb(94, 175, 255);
    border-color: rgb(94, 175, 255);
    cursor: pointer;
}

.show_posts_filter #year_from, .show_posts_filter #cost_from {
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.show_posts_filter #year_to, .show_posts_filter #cost_to {
    border-radius: 0 5px 5px 0;
}

.show_posts_filter .car_filter {
    margin-right: 15px;
    border-radius: 5px;
}

.show_posts_filter #year_to {
    margin-right: 15px;
}
/* стили для объявления */

.post_content {
    width: 1200px;
    height: 1000px;
    margin: 71px auto 0 auto;
}

.post_content {
    /* border: 1px solid black; */
}

.top_part_car_info .hierarchy {
    font-size: 15px;
    color: rgb(169, 169, 169);
}

.top_part_car_info .hierarchy a {
    margin-right: 15px;
}

.top_part_car_info .hierarchy a:hover {
    color: rgb(58, 145, 232);
    cursor: pointer;
}

.post_content .post_header .car_name{
    font-weight: 400;
    text-align: left;
}

.post_header {
    width: 75.57%;
    float: left;
}

.post_header span {
    margin-right: 25px;
    color: rgb(169, 169, 169);
}

.car_cost {
    font-size: 2em;
    font-weight: 400;
    width: 24%;
    float: left;
    margin-top: 21px;
}

.car_cost #BYN {
    display: block;
    float: right;
}

.post_options {
    display: block;
    margin: 0;
    float: left;
    margin-top: 21px;
}

.post_options, .post_options * {
    /* border: 1px solid black; */
}

.post_options button {
    margin: 0;
    display: block;
    float: left;
    width: 329px;
    margin-right: 30px;
    background-color: #fff;
    padding: 9px;
    border-radius: 5px;
    font-size: 1em;
}

.post_options button:first-child {
    color: rgb(58, 145, 232);
    border: 1px solid rgb(58, 145, 232);
    transition-property: background-color;
    transition-duration: .2s;
}

.post_options button:hover:first-child {
    background-color: rgba(58, 145, 232, 0.06);
    cursor: pointer;
}

.post_options button:last-child {
    color: rgb(186, 26, 26);
    border: 1px solid rgb(186, 26, 26);
    transition-property: background-color;
    transition-duration: .2s;
}

.post_options button:hover:last-child {
    background-color: rgba(186, 26, 26, 0.05);
    cursor: pointer;
}

.top_part_car_info {
    overflow: auto;
    padding-bottom: 21px;
    border-bottom: 1px solid rgb(169, 169, 169);
}

.car_info {
    margin-top: 42px;
    overflow: auto;
}

.leftside_car_info * {
    /* border: 1px solid black; */
}

.leftside_car_info {
    width: 30%;
    float: left;
}

.leftside_car_info .property, .leftside_car_info .value {
    display: block;
    float: left;
    margin-bottom: 20px;
}

.leftside_car_info .property {
    width: 40%;
    color: rgb(169, 169, 169);
}

.leftside_car_info .value {
    width: 50.5%;
}

.leftside_car_info .value_bold {
    font-weight: bold;
}

.rightside_car_info {
    /* width: 69.97%; */
    width: 840px;
    float: left;
}

.selected_photo {
    background-color: rgb(240, 240, 240);
    height: 560px;
    overflow: hidden;
}

.selected_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    transition-duration: 0.5s;
    transition-property: transform;
}

.selected_photo img:hover {
    transform: scale(1.15);
}

.photos {
    margin-top: 3px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    overflow: hidden;
    width: 840px;
    height: 58px;
    white-space: nowrap;

}

.photos img {
    width: 104px;
    margin-right: 3px;
}

.photos img:last-child {
    margin: 0;
}

.post_header img {
    vertical-align: bottom;
    background-color: #fff;
    height: 10px;
    margin-bottom: 5px;
    margin-right: 3px;
}

.post_header .watches {
    /* padding-left: 20px;
    background: url("eye.jpg") no-repeat;
    background-size: auto 22px;
    background-position: -4px center; */
}

.car_info {
    /* border: 1px solid black; */
}

.car_info .show_vin {
    display: block;
    margin: 0;
    color: #fff;
    background-color: rgb(58, 145, 232);
    border: none;
    font-size: 1em;
    padding: 10px;
    width: 91.5%;
    border-radius: 5px;
}

.car_info .show_vin:hover {
    background-color: rgb(94, 175, 255);
    cursor: pointer;
}

/* список объявлений */
.content .heading p {
    margin: 0;
    /* text-align: center; */
}


.content .heading p:first-child {
    font-size: 15px;
    color: rgb(169, 169, 169);
}

.content .heading p:last-child {
    font-size: 2em;
    font-weight: 400;
    margin-top: 15px;
}

.content .car_filters {
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow:0px 2px 17px 0px rgba(230,230,230,1);
    margin-top: 25px;
    padding: 20px;
}

.select_state {
    display: flex;
    font-size: 16px;
}

.select_state div:first-child {
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.select_state div:last-child {
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.select_state div {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 128, 255, 0.07);
    color: rgb(17, 136, 255);
    cursor: pointer;
    /* border: 1px solid black; */
}

.content .car_filters .select_state div {
    padding-top: 13px;
    padding-bottom: 13px;
}

.select_state .active {
    background-color: rgba(0, 128, 255, 0.15);
}

.select_state .hoverable:hover {
    background-color: rgba(0, 128, 255, 0.15);
}

.content .parameters {
    padding-top: 25px;
}

.content .parameters .fields_parameters {
    display: flex;
    justify-content: space-between;
}

.content .parameters .fields_parameters .column {
    /* flex: 1 1 auto; */
    /* border: 1px solid black; */
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content .parameters .fields_parameters .column input {
    margin: 0;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    outline: none;
    padding: 9px 0 9px 7px;
    margin-bottom: 15px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 8px;
}

.content .parameters .fields_parameters .column input::-webkit-input-placeholder{
    color: rgb(200, 200, 200);
}

.content .parameters .fields_parameters .column .half{
    width: 48.5%;
    /* замена после снятия границ */
}

.content .parameters .buttons {
    overflow: auto;
}

.content .parameters .buttons * {
    display: block;
    outline: none;
    margin: 0;
    cursor: pointer;
    border: none;
    font-size: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.content .parameters .buttons button {
    float: left;
    color: rgb(17, 136, 255);
    background-color: #fff;
}

.content .parameters .buttons button:hover {
    color: rgba(17, 136, 255, 0.7);
}

.content .parameters .buttons input {
    float: right;
    width: 371px;
    background-color: rgba(0, 128, 255, 0.07);
    color: rgb(17, 136, 255);
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content .parameters .buttons input:hover {
    background-color: rgba(0, 128, 255, 0.15);
}

.content .control_elements, .content .control_elements * {
    /* border: 1px solid black; */
}

.content .control_elements {
    margin-top: 20px;
    /* padding: 10px 20px 10px 20px; */
    padding: 20px;
    overflow: auto;
    box-shadow:0px 3px 20px 0px rgba(230,230,230,1);
    border-radius: 10px;

}

.content .control_elements input {
    font-size: 15px;
    margin: 0;
    padding: 9px 0 9px 7px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 8px;
    width: 130px;
    box-sizing: border-box;
    outline: none;
    display: block;
    float: left;
    margin-right: 11px;
}

.content .control_elements input::-webkit-input-placeholder{
    color: rgb(200, 200, 200);
}

.content .control_elements input[name="time"]{
    width: 186px;
}

.content .control_elements .select_state {
    float: right;
    width: 240px;
}

.content .control_elements .select_state div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.posts, .posts * {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

.posts {
    margin-top: 20px;
}

.posts .car_photos img {
    width: 270px;
    display: block;
}
.posts .car_photos {
    /* width: 275px; */
}

.posts .post {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: rgb(190, 190, 190);
    box-shadow:0px 3px 20px 0px rgba(230,230,230,1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.posts .post .short_info {
    width: 75%;
}

.posts .post .short_info .info_block {
    display: flex;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.posts .post .short_info .info_block p:first-child {
    width: 200px;
}

.posts .post .short_info .info_block.i1 .heading {
    width: 280px;
}

.posts .post .short_info .info_block.i1 .cost {
    margin-left: 100px;
    margin-right: 50px;
    background-color: rgba(0, 128, 255, 0.15);
    color: rgb(17, 136, 255);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
    border-radius: 10px;
    margin-top: -9px;
    font-size: 16px;
}

.posts .post .short_info .info_block.i1 p {
    font-size: 17px;
    font-weight: 400;
    color: #000;

}

.posts .post .short_info .info_block.i1 p:last-child {
    margin-left: 50px;
}

/* подача объявления */

.component {
    border-radius: 10px;
    box-shadow:0px 2px 17px 0px rgba(230,230,230,1);
    margin-top: 25px;
    padding: 20px;
}

.content .creating_ad_selector {
    padding: 20px;
    margin-top: 5px;
}

.content .creating_ad_selector .select_state div {
    padding-top: 13px;
    padding-bottom: 13px;
}

.content .ad_creator {
    padding: 20px;
}

.content .ad_creator * {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.content .ad_creator p, .content .ad_creator input {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content .ad_creator div {
    display: flex;
    justify-content: space-between;
}

.content .ad_creator div p {
    width: 40%;
}

.content .ad_creator div input {
    padding: 9px 0 9px 7px;
    border-radius: 11px;
    outline: none;
    width: 50%;
}